.player {
  width: 200px;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  span {
    font-size: 30px;
    margin-left: 15px;
  }

  background-color: #00f700;
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
}
